@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --fuentePrincipal: 'Poppins', sans-serif;
    /* Colors */
    --malachite-50: #edfce9;
    --malachite-100: #d7f7d0;
    --malachite-200: #b2f0a6;
    --malachite-300: #83e472;
    --malachite-400: #4cd137;
    --malachite-500: #39ba28;
    --malachite-600: #28941c;
    --malachite-700: #22711a;
    --malachite-800: #1f5a1a;
    --malachite-900: #1d4d1a;
    --malachite-950: #0a2a09;
    --body-bg: #f2f2f2;

    --rounded-sm: .325rem;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    background-color: var(--body-bg);
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
/* Utilities */
.container{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
/* Styles */
.main{
    display: grid;
    min-height: 100vh;
    place-items: center;
}
.steps{
    display: grid;
    row-gap: 3rem;
}
/* Steps */
.steps__circles{
    display: flex;
    column-gap: 5rem;
    justify-content: center;
    position: relative;
}
.steps__num{
    --color-step: #c1c1c1;
    --sizes-circle: 40px;
    height: var(--sizes-circle);
    width: var(--sizes-circle);
    border: 3px solid var(--color-step);
    background-color: white;
    margin-bottom: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--color-step);
    font-weight: 500;
}
.steps__num::after{
    content: '';
    position: absolute;
    left: var(--sizes-circle);
    height: 3px;
    width: calc(100% - var(--sizes-circle) * 2);
    background-color: var(--color-step);
    z-index: -1;
}
.steps__num--active{
    border: 3px solid var(--malachite-500);
    color: var(--malachite-500);
}
.steps__buttons{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.steps__btn{
    border: none;
    background-color: var(--malachite-300);
    color: var(--malachite-900);
    padding: .5rem 1rem;
    border-radius: var(--rounded-sm);
    min-width: 100px;
    font-weight: 500;
}
.steps__btn:hover{
    cursor: pointer;
    background-color: var(--malachite-500);
}
.steps__btn--disabled{
    background-color: var(--malachite-100);
    color: var(--malachite-300);
}
.steps__btn--disabled:hover{
    cursor: not-allowed;
    background-color: var(--malachite-100);
    color: var(--malachite-300);
}