@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --fuentePrincipal: 'Poppins', sans-serif;
    /* Colors */
    --malachite-50: #edfce9;
    --malachite-100: #d7f7d0;
    --malachite-200: #b2f0a6;
    --malachite-300: #83e472;
    --malachite-400: #4cd137;
    --malachite-500: #39ba28;
    --malachite-600: #28941c;
    --malachite-700: #22711a;
    --malachite-800: #1f5a1a;
    --malachite-900: #1d4d1a;
    --malachite-950: #0a2a09;
    --body-bg: #f2f2f2;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    background-color: var(--body-bg);
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
/* Utilities */
.container{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
/* Styles */
.main{
    display: grid;
    min-height: 100vh;
    place-items: center;
}